// .container {
//     height: 41.9em;
// }
#panel {
    background-color: #ffffff;
}

#panel {
    padding: 0px;
}
.btn {
    float: left;
    margin-top: 3em;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: lightcoral;
    font-weight: 500;
    height: 3em;
    width: 7em;
    color: black;
    border-radius: 0.5em;
}
#title {
    background-color: white;
    color: black;
    padding: 8px;
    margin-top: 0px;
    font-weight: 700;
    text-align: center;
}
form {
    padding: 0px;
    border-radius: 3px;
    box-sizing: border-box;
    margin: 0px 20px 0px 20px;
}

.error {
    color: red;
}

.indeterminate {
    background-color: white !important;
}