.specialBtn {

    background-color: lightcoral;
    color: black;
    padding: 16px 12px;
    margin-top: 0.5em;
    margin-bottom: 6em;
    border: none;
    cursor: pointer;
    width: 25%;
    opacity: 0.8;
    border-radius: 4px;
  }
.container {
  margin-bottom: 4em;
  height: 100%;
}