<!-- <div class="container">
  <div class="row">
    <div class="col s10 offset-s1" id="panel">
      <h3 id="title">Login</h3>
      <form class="col s12">
        <div class="row">
          <div class="input-field col s12">
            <input id="user-name" type="text">
            <label for="user-name">Username</label>
          </div>
        </div>
        <div class="row">
          <div class="input-field col s12">
            <input id="password" type="password">
            <label for="password">Password</label>
          </div>
        </div>
        <button class="btn waves-effect" id="signupbtn">
            Login
        </button>
      </form>
    </div>
  </div>
</div> -->
<form [formGroup]="form" class="login-form" (submit)="login()">
  <div class="container">
    <h1>Login</h1>
   
    <hr />
    <label html="username">Username</label> <br />
    <input
      type="text"
      name="username"
      formControlName="username"
      placeholder="Enter your username"
      required
    />
    <br />
    <label html="password">Password</label> <br />
    <input
      type="password"
      name="password"
      formControlName="password"
      placeholder="Enter your password"
      required
    />
    <br />
    <button type="submit" class="loginbtn"  [disabled]="!form.valid">
      Login
    </button>
   
  </div>
</form>