<div class="container">
  <form [formGroup]="form" class="create-form" (submit)="createPost()">
    <div class="container">
        <h1>Create Post</h1> <br/> 
       
      <div class="form-group">
        <input hidden formControlName="creator">
        <label for="contry">Select Category</label>
        <select class="browser-default" id="category" formControlName="category">
          <option *ngFor="let category of categories$ | async" [value]="category.name">{{category.name}}</option>
        </select>
      </div>
      <div class="alert alert-danger" *ngIf="form.controls.category.touched && form.controls.category.errors">
        Please, select category! 
      </div>
  
        <label html="name">Name</label> <br />
        <input type="text" name="name" placeholder="Post name" formControlName="name" required/> <br />
        <div class="alert alert-danger" *ngIf="form.controls.name.touched && form.controls.name.errors?.minlength">
          Length must be at least {{form.controls.name.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="form.controls.name.touched && form.controls.name.errors?.maxlength">
          Length must be at least {{form.controls.name.errors.maxlength.requiredLength}} characters!
        </div> 
        <div class="alert alert-danger" *ngIf="form.controls.name.touched &&  form.controls.name.errors?.required">
          Please, write a name!
        </div>
        <label html="photo">Photo</label> <br />
        <input type="text" name="photo" placeholder="Photo" formControlName="photo"  required/> <br />
        <div class="alert alert-danger" *ngIf="form.controls.photo.touched &&  form.controls.photo.errors?.required">
          Please, add a photo!
        </div>
        <br/>
         <label html="description">Description</label> <br />
        <textarea type="text" name="description" placeholder="Write the description here ..." formControlName="description" required></textarea> <br />
        <div class="alert alert-danger" *ngIf="form.controls.description.errors?.required && form.controls.description.touched">
          Please, write the description here! 
        </div>
        <div class="alert alert-danger" *ngIf="form.controls.description.touched && form.controls.description.errors?.minlength">
          Length must be at least {{form.controls.description.errors.minlength.requiredLength}} characters!
        </div>
        <div class="alert alert-danger" *ngIf="form.controls.description.touched && form.controls.description.errors?.maxlength">
          Length must be at little than {{form.controls.description.errors.maxlength.requiredLength}} characters!
        </div> 
        <button type="submit" class="btn" [disabled]="!form.valid">Create</button>
    </div>
  </form>
</div>
<!-- 

<form [formGroup]="form" class="create-form" (submit)="createRecipe()">
  <div class="container">
      <h1>Add Recipe</h1> <br/> 
      <p>Fill in this form to add a recipe.</p> <hr/>
    <div class="form-group">
      <input hidden formControlName="creator">
      <label for="contry">Select Category</label>
      <select class="form-control" id="category" formControlName="category">
        <option *ngFor="let category of categories$ | async" [value]="category.name">{{category.name}}</option>
      </select>
    </div>
    <div class="alert alert-danger" *ngIf="form.controls.category.touched && form.controls.category.errors">
      Please, select category! 
    </div>

      <label html="name">Name</label> <br />
      <input type="text" name="name" placeholder="Recipe name" formControlName="name" required/> <br />
      <div class="alert alert-danger" *ngIf="form.controls.name.touched && form.controls.name.errors?.minlength">
        Length must be at least {{form.controls.name.errors.minlength.requiredLength}} characters!
      </div>
      <div class="alert alert-danger" *ngIf="form.controls.name.touched && form.controls.name.errors?.maxlength">
        Length must be at least {{form.controls.name.errors.maxlength.requiredLength}} characters!
      </div> 
      <label html="photo">Photo</label> <br />
      <input type="text" name="photo" placeholder="Photo" formControlName="photo" required/> <br />
      <div class="alert alert-danger" *ngIf="form.controls.photo.touched &&  form.controls.photo.errors">
        Please, add a photo!
      </div>
      <label html="products">Products</label> <br />
      <div *ngFor="let product of allProducts; let i = index">
        <input type="checkbox" [value]="product.name" (change)="onCheckChange($event)"/> {{product.name}}
       </div> <br/>
       <label html="description">Description</label> <br />
      <textarea type="text" name="description" placeholder="Write the recipe here ..." formControlName="description" required></textarea> <br />
      <div class="alert alert-danger" *ngIf="form.controls.description.touched &&  form.controls.description.errors">
        Please, write the recipe here! 
      </div>
      <button type="submit" class="btn">Add Recipe</button>
  </div>
</form> -->